
header {
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/d0/84/ed/d084ed2e115c4693d913c7308b4a4ce6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}
main {
    margin: 50px;
    padding: 20px;
    box-sizing: border-box;
}
ol {
    height: fit-content;
    width: fit-content;
    Border-style: solid;
    Border-width: 5px;
    Margin: 5px;
    Padding: 30px;
    align-items: center;
}
ul {
    height: fit-content;
    width: fit-content;
    Border-style: solid;
    Border-width: 5px;
    Margin: 5px;
    Padding: 30px;
}
form {
    height: fit-content;
    width: fit-content;
    Border-style: solid;
    Border-width: 5px;
    Margin: 0px;
    Padding: 30px;
}
table {
    height: fit-content;
    width: fit-content;
    Border-style: solid;
    Border-width: 5px;
    border-color: black;
    Margin: 0px;
    Padding: 30px;
}
footer {
    text-align: center;
    margin: 50px;
}
div {
    width: auto;
    Border-style: solid;
    Border-width: 5px;
    Margin: 0px;
    Padding: 0px;
}
.flex-container {
    display: flex;
    flex-direction: row;
} 
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
img {
    height: 250px;
    width: 253.5px;
}
a:link {
    color: yellow;
}
a:visited {
    color: rgb(0, 56, 238);
}
a:hover {
    color: red;
}   
@media screen and (max-width: 900px){
    body {
        background-color: red;
    }
}
 @media screen and (min-width: 900px){
        body {
            background-color: darkgray;
        }
        form {
            background-color: orange;
        }
        table {
            background-color: orange;
        }
        ol {
            background-color:orange;
        }
        ul  {
            background-color: orange;
        }
    }
    